<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RkCoDiFy|signin</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <p class="logo"><a href="/" ><img src="../logo.png" alt="LOGO" width="70px" height="70px" ></a></p>
            </div>
            <ul >
                <li><a href="../homepage/index.html">Home</a></li>
                <li><a href="../aboutpage/about.html">About</a></li>
                <li><a href="../contactpage/contact.html">Contact</a></li>
                <li><a href="../contentpage/content.html">Courses</a></li>
                <li><a href="../blog">Blog</a></li>
            </ul>
            <div class="login">
                <a href="../signinpage/signin.html"><button id="signin">signin</button></a>
                <a href="../signuppage/signup.html"><button id="signup">signup</button></a>
            </div>
        </nav>
        <div>
            <ul class="navbar2">
              <li><a href="htmlcourse/html1.html">html</a></li>
              <li><a href="#">css</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">nodejs</a></li>
              <li><a href="#">mongodb</a></li>
              <li><a href="#">React</a></li>
              <li><a href="#">mern</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">Django</a></li>
            </ul>
        </div>
    </header>
    <div class="mainmaincontent">
        <div class="maincontent">
            <div class="content1">
                <a href="htmlcourse/html1.html"><img src="../logos/htmlmastery.png" alt="python mastery for beginners" class="imagecontent" id="htmlmastery" ></a>
                <p class="description" id="desriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail" id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
                <a href=""><img src="../logos/cssmastery.png" alt="nodejs mastery for beginners" id="cssmastery" class="imagecontent"></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
            <a href=""><img src="../logos/javascriptmastery.png" alt="mongodb mastery for beginners" id="javascriptmastery" class="imagecontent" ></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
        </div>
        <div class="maincontent">
            <div class="content1">
                <a href=""><img src="../logos/nodejsmastery.png" alt="python mastery for beginners" id="nodejsmastery" class="imagecontent" ></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
                <a href=""><img src="../logos/reactmastery.png" alt="nodejs mastery for beginners" id="reactmastery" class="imagecontent"></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
                <a href=""><img src="../logos/mongodbmastery.png" alt="mongodb mastery for beginners" id="mongodbmastery" class="imagecontent" ></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
        </div>
        </div>
        <div class="maincontent">
            <div class="content1">
                <a href=""><img src="../logos/mernstackmastery.png" alt="python mastery for beginners" id="mernstackmastery" class="imagecontent"></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
                <a href=""><img src="../logos/pythonmastery.png" alt="nodejs mastery for beginners" id="pythonmastery" class="imagecontent"></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
            <div class="content1">
            <a href=""><img src="../logos/djangomastery.png" alt="mongodb mastery for beginners" id="djangomastery" class="imagecontent" ></a>
                <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
                <p class="showmore">showmore</p>
                <p class="showless">showless</p>
            </div>
        </div>
    </div>
    <script src="../indexforother.js"></script>
    <script src="../content.js"></script>
</body>
</html>