<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RkCoDiFy</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="slideshow.css" />
    <link rel="stylesheet" href="../contentpage/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div>
          <p class="logo">
            <a href="/"
              ><img src="../logo.png" alt="LOGO" width="70px" height="70px"
            /></a>
          </p>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/content">Courses</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
        <div class="login">
          <a href="/signin" id="signin">signin</a>
          <a href="/signup" id="signup">signup</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="slideshowandsocial">
        <div class="leftcontent">
        <div class="social">
          <a href=""><img src="../icons/instagramicon.png" alt="Intsgram" class="icons"></a>
          <a href=""><img src="../icons/twittericon.png" alt="Twitter" class="icons"></a>
          <a href=""><img src="../icons/pinteresticon.png" alt="Pinterest" class="icons"></a>
          <a href=""><img src="../icons/githubicon.png" alt="Github" class="icons"></a>
          <a href=""><img src="../icons/linkedinicon.png" alt="Linkedin" class="icons"></a>
          <a href=""><img src="../icons/snapchaticon.png" alt="Snapchat" class="icons"></a>
          <a href=""><img src="../icons/redditicon.png" alt="Reddit" class="icons"></a>
          <a href=""><img src="../icons/facebookicon.png" alt="Facebook" class="icons"></a>
        </div>
        <div style="margin:10px 0 10px 0;"><strong>table of contents</strong></div>
        <div class="lefttablecontent">
          <a href="/content"><p>Html Tutorial</p></a>
          <a href="/content"><p>CSS Tutorial</p></a>
          <a href="/content"><p>JavaScript Tutorial</p></a>
          <a href="/content"><p>Node Js Tutorial</p></a>
          <a href="/content"><p>React Tutorial</p></a>
          <a href="/content"><p>MomgoDB Tutorial</p></a>
          <a href="/content"><p>MERN Tutorial</p></a>
          <a href="/content"><p>Python Tutorial</p></a>
          <a href="/content"><p>Django Tutorial</p></a>
       </div>
        </div>
        <div class="leftline"></div>
        <div class="middlecontent">
          <div class="mainheading">
            <div style="background: linear-gradient(to right,rgb(114, 95, 120),rgb(73, 80, 110));color: aliceblue;border-radius: 10px;box-shadow: 10px 10px 10px #434344;width: 541px;height: 37; margin-right: 15px">
              <div id="welcomecontent">
                <p>Welcome mate !!!</p>
                <p>Afraid of complex coding ??</p>
                <p>Take deep breadth and chillax &#128512;</p>
                <p>We have got you covered this time</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>You just need to signup and access our</p>
                <p>free course and</p>
                <p>get ready to start your codify</p>
                <p>journey with us &#128512;</p>
              </div>
            </div>
            <img src="../logos/zerotohero.png" alt="zero to hero" usemap="#lessons" style="width: 541px;height: 377px;box-shadow: 10px 10px 10px #434344;border-radius: 10px;background: linear-gradient(to right,rgb(114, 95, 120),rgb(73, 80, 110));"/>
            <map name="lessons">
              <area shape="rect" coords="120,35,215,90" href="/content" alt="courses" target="_blank"/>
              <area shape="rect" coords="380,115,475,170" href="/blog" alt="courses" target="_blank"/>
            </map>
          </div>
          <div class="slideshow">
            <button class="prev"><</button>
            <button class="next">></button>
            <h1 class="slideshowheading">Your Learning is Our Reward</h1>
            <h1 class="slideshowheading">Your Learning is Our passion</h1>
            <h1 class="slideshowheading">Your Learning is Our bahut badiya</h1>
            <img class="slideshowimage" src="BG.jpg" alt="background-image" />
            <img class="slideshowimage" src="BG1.png" alt="backgroung-image" />
            <img class="slideshowimage" src="BG2.jpg" alt="background-image" />
          </div>
          <div>
            <h1 style="text-align:center;margin-top:20px;">Our Latest course</h1>
          </div>
          <div class="maincontent">
            <div class="content1">
              <a href=""><img src="../logos/htmlmastery.png" alt="python mastery for beginners" class="imagecontent" id="htmlmastery" ></a>
              <p class="description" id="desriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p class="description descriptiondetail" id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
              <p class="showmore">showmore</p>
              <p class="showless">showless</p>
          </div>
          <div class="content1">
            <a href=""><img src="../logos/cssmastery.png" alt="nodejs mastery for beginners" id="cssmastery" class="imagecontent"></a>
            <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
            <p class="showmore">showmore</p>
            <p class="showless">showless</p>
        </div>
        <div class="content1">
        <a href=""><img src="../logos/javascriptmastery.png" alt="mongodb mastery for beginners" id="javascriptmastery" class="imagecontent" ></a>
            <p class="description" id="decriptionhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="description descriptiondetail"  id="descriptiondetailhtml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus quas et aut sint aspernatur nisi reprehenderit, neque facere reiciendis ratione animi praesentium deleniti ex libero, ipsa incidunt voluptates?</p>
            <p class="showmore">showmore</p>
            <p class="showless">showless</p>
        </div>
          </div>
          <div style="text-align: center; margin-top:20px">
            <h1>Click to access full course</h1>
            <button class="button" style="margin-left: 60px;"><a href="../contentpage/content.html" style="text-decoration: none; color:aliceblue; width:30px; height:10px;">Courses</a></button>
          </div>
        </div>
        <div class="rightline"></div>
        <div class="rightcontent">
          <div>advertisement</div>
      </div>
    </main>
    <div class="footerhorizontalline"></div>
    <div class="tags">Follow us on</div>
    <section class="socialfooter">
          <a href=""><img src="../icons/instagramicon.png" alt="intagram" class="icons"></a>
          <a href=""><img src="../icons/twittericon.png" alt="twitter" class="icons"></a>
          <a href=""><img src="../icons/pinteresticon.png" alt="pinterest" class="icons"></a>
          <a href=""><img src="../icons/githubicon.png" alt="github" class="icons"></a>
          <a href=""><img src="../icons/linkedinicon.png" alt="linkedin" class="icons"></a>
          <a href=""><img src="../icons/snapchaticon.png" alt="snapchat" class="icons"></a>
          <a href=""><img src="../icons/redditicon.png" alt="reddit" class="icons"></a>
          <a href=""><img src="../icons/facebookicon.png" alt="facebook" class="icons"></a>
    </section>
    <footer>
      <p>Copyright  &copy;rkcodify.com  <img src="../logo.png" alt="logo" width="20px" height="20px">&reg;</p>
    </footer>
    <script src="../index.js"></script>
    <script src="slideshow.js"></script>
    <script src="../content.js"></script>
  </body>
</html>
