<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"/>
    <title>RkCoDiFy</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <p class="logo"><a href="/"><img src="../logo.png" alt="LOGO" width="70px" height="70px" ></a></p>
        </div>
        <ul >
            <li><a href="../homepage/index.html">Home</a></li>
            <li><a href="../aboutpage/about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="../contentpage/content.html">Courses</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <div class="login">
            <a href="../signinpage/signin.html"><button id="signin">signin</button></a><a href="../signuppage/signup.html"><button id="signup">signup</button></a>
        </div>
    </nav>
    <div class="contactpost">
        <h1 class="contacth">Contact Us</h1>
        <form action="../contactpage/contact.html" method="post" class="contactform">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="name" class="name" required>
            <label for="email">Email</label>
            <input type="email" name="email" class="email" placeholder="email" required>
            <label for="telephone">Telephone</label>
            <input type="tel" name="telephone" class="telephone" placeholder="Phone No." required>
            <label for="textarea" class="textarealabel">Message&nbsp</label>
            <textarea  class="textarea" name="textarea" placeholder="Enter your query!!" rows="4" cols="40"></textarea>
            <input type="submit" value="submit" name-="submit" class="submit_contact">
        </form>
    </div>
    <script src="../indexforother.js"></script>
    <script>

        const form = document.querySelector("form");
        form.addEventListener('submit',async (e) => {
         e.preventDefault();

         //get the values
         const email = form.email.value;
         const name = form.name.value;
         const telephone = form.telephone.value;
         const textarea = form.textarea.value;
        try{
            const res = await fetch('/contactpage',{
                method : 'POST',
                body : JSON.stringify({name:name, email:email, telephone:telephone, textarea:textarea}),
                headers : {'content-type':'application/json'}
            });
            const data = await res.json();
            console.log(data);
            const contactpage = document.querySelector(".contactpost");
            contactpage.innerHTML = "Great Mate!!! Thank You For Contacting Us"
            contactpage.style.fontSize = "2rem";
            contactpage.style.color = "white";
            contactpage.style.textAlign="center";
        }
        catch(err){
            console.log(err);
        }
});
    </script>
</body>
</html> 